
body {
    background-image: url(imagens\ e\ fundo/fundo.png);
    background-repeat: repeat;
}

.container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.img {
    background-position: center center;
    width: 100%;
}

.navegacao {
    width: 900px;
    margin: 0;
    background-color: #bfbf96;
    text-align: center;
    padding: 20px;
    padding-right: 0;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
}

.navegacao a {
    color: black;
    font: bold 17px 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 15px;
}

.conteudo_texto{
    background-color: white;
    margin: 0;
    padding: 20px;
    border-radius: 6px;
}

.conteudo_texto h2{
    color: #bfbf96;
    text-align: left;
    font: bold 20px 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.conteudo_texto .img2 img{
    border: 7px solid #bfbf96;
    padding: 0;
    margin: 0 auto;

}

.conteudo_texto p a{
    color: #bfbf96;
    text-decoration: underline;
}

.conteudo_texto p a:hover{
    color: black;
}

.direitos p{
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 6px;
}