@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #1DB954;
    --cor1: #191414;
    --cor2: #FFFFFF;
    --cor3: #535353;
    --cor4: #B3B3B3;
    --cor5: #242424;

}

.navbar {
    background-color: black;
}

.nav-icons{
    width: 100%;

}

.btn-spotify{
    background-color: var(--cor3);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 0;
}

.btn-spotify i {
    color: var(--cor2);
    font-size: 18px;
    transition: transform 0.2s ease;
}


.btn-spotify:hover{
    background-color: var(--cor4);
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(29, 185, 84, 0.6);
    text-decoration: none;
}

.btn-spotify:hover i {
    transform: scale(1.1);
}

.search-bar {
    background-color: var(--cor5);
    border-radius: 25px;
    padding: 6px 12px;
    border: 1px solid var(--cor3);
    width: 320px;
    color: #fff;
    transition: all 0.3s ease;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin: 0 8px;
  width: 100%;
}

.search-bar i {
  color: #b3b3b3;
}

.search-bar:hover {
  border-color: #b3b3b3;
}
