
#home {
    background: #ffc107;
    color: white;
}

.navbar-brand img{
    width: 142px;
    height: auto;
    margin-right: 5px;
}

.nav-link{
    font-size: 0.9em;
    color: #2a2929
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a{
    margin: 5px 12px;
}