* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white url(../Estilo/Imagens/fundo.png) repeat-x;
}

#container{
    width: 700px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../Estilo/Imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../Estilo/Imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}