* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white url(../Estilo/Imagens/fundo.png) repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../Estilo/Imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../Estilo/Imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../Estilo/Imagens/divisor.png) no-repeat left center;
}

#topo ul a:hover {
    color: #69001d;
}

#topo ul .primeiro a {
    background: none;
}

.home #navegacao a#home,
.brasil #navegacao a#brasil,
.internacional #navegacao a#internacional,
.economia #navegacao a#economia,
.saude #navegacao a#saude,
.ciencia #navegacao a#ciencia,
.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}