@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');



* {
    margin: 0;
    padding: 0;
}



:root {
    --font1: 'Creepster', cursive;
    --font2: Arial, Helvetica, sans-serif;
    --font3: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font4: 'Press Start 2P', cursive;
    --font5: 'Great Vibes', cursive;
    --font6: 'Cormorant Garamond', serif;

    --azul-escuro: #0e2235;
    --azul-médio: #1b4a68;
    --ciano-claro: #4fd2ff;
    --roxo-vibrante: #7a4bff;
    --rosa-pixel: #ff7ab8;
    --vermelho-mario: #e54545;
    --laranja-pêssego: #f5a05b;
    --amarelo-dourado: #ffce58;
    --verde-yoshi: #5fc467;
    --branco-suave: #f2e8de;
}


body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    z-index: -1;
    
}

.card {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header h1 {
    font-size: 1.4em;
    text-transform: uppercase;
    color: var(--branco-suave);
    font-family: var(--font4);
}

header h1:hover {
    color: var(--roxo-vibrante);
}


section {
    height: auto;
   /* width: 97%;*/
    margin: 50px auto;
}

section h2{
    text-transform: uppercase;
    font-family: var(--font4);
    color: var(--branco-suave);
    font-size: 1.1em;
}

section h2:hover {
    color: var(--roxo-vibrante);
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    margin: 10px;
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

a:hover {
    background: #0056b3;
}

/*Container com os cards*/

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 40px; 
  padding: 20px;
}

.cards-container h3{
 font-family: var(--font4);
 color: var(--branco-suave);
 font-size: 1em;
}

/*Card ui*/
/* From Uiverse.io by gharsh11032000 */ 
.card_ui{
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card_ui svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card_ui:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card__content#Halloween{
  background: #FF6600;
  text-decoration: none;
  font-family: var(--font1);
}

.card__content#Halloween p{
  color: #000000;
}

.card__content#AnnaBella{
  background: #bfbf96;
  text-decoration: none;
  font-family: var(--font5);
}

.card__content#tecblog{
  background: #ffcc00;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card__content#resort{
  background: #F2E7C9;
  text-decoration: none;
  font-family: var(--font5);
}

.card__title#resort-title{
  font-family: var(--font5);
}

.card__content#resort p{
  font-family: var(--font6);
}


.card_ui:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card_ui:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

/*imagem dentro do card*/

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}




#noticiasA{
    background: #b10333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

#noticiasA:hover {
    background: #de003e;
}

#halloweenA{
  font-family: var(--font1);
    background: #881EE4;
    color: #2FA71C;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

#halloweenA:hover{
    background: #A45DFF;
    color: black;
}

#anna{
    font-family: var(--font5);
    background: #ffffff;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

#anna:hover{
    background: black;
    color: #bfbf96;
}

#tecA {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #ffffff;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

#tecA:hover{
    background: black;
    color: #ffcc00;
}

#resortA{
    font-family: var(--font5);
    background: #F8F5F0;
    color: #C5A253;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

#resortA:hover{
    background: #C5A253;
    color: #F8F5F0;
}

.card#cursos{
  font-size: 0.7em;
  text-align: center;
  font-family: var(--font4);
}