@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}



:root {
    --font1: 'Creepster', cursive;
    --font2: Arial, Helvetica, sans-serif;
    --font3: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font4: 'Press Start 2P', cursive;

  --azul-escuro: #0e2235;     
  --azul-médio: #1b4a68;      
  --ciano-claro: #4fd2ff;    
  --roxo-vibrante: #7a4bff;  
  --rosa-pixel: #ff7ab8;      
  --vermelho-mario: #e54545;  
  --laranja-pêssego: #f5a05b; 
  --amarelo-dourado: #ffce58; 
  --verde-yoshi: #5fc467;     
  --branco-suave: #f2e8de;    
}


body {
    height: 100%;
    overflow: hidden;
}


video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* cobre toda a área */
    z-index: -1;
    /* fica atrás do conteúdo */
}

header {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header h1{
    font-size: 1.2em;
    text-transform: uppercase;
    color: var(--branco-suave);
    font-family: var(--font4);
}
header h1:hover{
    color: var(--roxo-vibrante);
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

a:hover {
    background: #0056b3;
}