@charset "UTF-8";

/*Fontes*/

/*Cormorant Garamond*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

/*Great Vibes*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');




:root {
    --font1: 'Cormorant Garamond', serif;
    --font2: 'Great Vibes', cursive;


    --OffWhite: #F8F5F0;
    --Palha: #E8D9B5;
    --Marfin: #F2E7C9;
    --Terracota: #D97B53;
    --Dourado_fosco: #C5A253;
}

*{
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

html, body {
    background: url(../estilo/imagens/resort_a_noite.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

header {
    background: var(--OffWhite);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

#topo {
    position: relative;
    background: var(--Dourado_fosco);
    height: 12em;
    min-height: 100px;
    overflow: hidden;
}


#area-logo {
    position: absolute;
    background: url(../estilo/imagens/resort_a_noite.jpg) no-repeat left center;
    background-size: cover;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
}

/*
#logo_img {
    position: absolute;
    top: 15px;
    left: 45px;
    width: 151px;
	height: 66px;
    z-index: 3;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
}
*/

#logo_img {
    position: absolute;
    top: 15px;
    left: 45px;
    width: 160px;
    height: auto;
    z-index: 4;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;

    width: 151px;
    height: 66px;
    text-indent: -9000px;
}


#area-menu {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../estilo/imagens/topo-imagem-lateral.png) no-repeat top center;
    background-size: cover;
    width: 570px;
    height: 200px;
    z-index: 2;
}

#conteudo-menu {
    padding: 20px 30px;
    position: relative;
    z-index: 3;
    color: var(--OffWhite);
}

#menu-locais {
    width: 100%;
    font-size: 0.9em;
    color: #8b8448;
}

#menu-locais hr {
    border: none;
    border-top: 1px solid #b5ab56;
    margin: 4px 0 4px 25px;
}


.linha-menu {
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.locais {
    padding: 10;
    margin: 0;
    word-spacing: 8px;
}

#reserva {
    background: var(--Palha);
    color: black;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--font1);
    font-weight: 500;
    transition: background 0.3s;
}

#reserva:hover {
    background: var(--Dourado_fosco);
    color: var(--OffWhite);
}


#navegacao {
    margin-top: 12px;
    padding: 0;
    list-style: none;
}

#navegacao li {
    display: block;
    margin-left: 60px;
    margin-right: 10px;
}

#navegacao a {
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 5px;
    color: var(--OffWhite);
    line-height: 30px;
    text-decoration: none;
}

#navegacao a:hover {
    color: var(--Dourado_fosco);
}

#conteudo-principal{
    display: flex;
    height: auto;
    text-align: center;
    
}

#conteudo1{
    width: 50%;
    background: var(--Marfin);
    padding: 10px;
    font-family: var(--font1);
}

#conteudo1 h2{
    color: var(--Terracota);
    font-family: var(--font2);
    font-size: 1.3em;
    padding: 15px;
}

#conteudo2{
    width: 50%;
    background: var(--Palha);
    padding: 10px;
}

#conteudo2 ul li{
    display: flex;
    align-items: flex-start;
    margin: 8px 10px;
    padding: 3px;
    border-bottom: 1px solid var(--OffWhite);
}
#conteudo2 ul li:hover{
    background-color: var(--Dourado_fosco);
    color: var(--OffWhite);
}

#conteudo2 ul li:hover h2{
    color: var(--Palha);
}

#conteudo2 ul li h2{
    color: var(--Terracota);
    font-family: var(--font2);
    font-size: 1em;
    text-align: left;
    padding: 2px;
}

#conteudo2 ul li p{
    font-size: 0.8em;
    font-family: var(--font1);
    text-align: left;
    margin-top: 5px;
    margin: 0px 5px 0px 5px;
}

.texto-imagem{
    text-align: left;
    margin-left: 2px;
}

#conteudo2 ul img{
    width: 15%;
    display: flex;
    align-items:center ;
    padding-right: 5px;
    padding-bottom: 5px;
}

footer{
    text-align: center;
    padding: 5px;
    background-color: #8b8448;
    position: fixed;
    bottom: 0;
    width: 100%;
}