@charset "UTF-8";

/*Fontes*/

/*Cormorant Garamond*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

/*Great Vibes*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');




:root {
    --font1: 'Cormorant Garamond', serif;
    --font2: 'Great Vibes', cursive;


    --OffWhite: #F8F5F0;
    --Palha: #E8D9B5;
    --Marfin: #F2E7C9;
    --Terracota: #D97B53;
    --Dourado_fosco: #C5A253;
}


body {
    margin: 0;
    padding: 0;
}

header {
  background: var(--OffWhite);
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  position: relative;
}

#topo {
  position: relative;
  background: var(--Dourado_fosco);
  height: 12em;
  min-height: 100px;
  overflow: hidden;
}


#area-logo {
  position: absolute;
  background: url(../estilo/imagens/resort_a_noite.jpg) no-repeat left center;
  background-size: cover;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  z-index: 1;
}
/*
#logo_img {
    position: absolute;
    top: 15px;
    left: 45px;
    width: 151px;
	height: 66px;
    z-index: 3;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
}
*/

#logo_img {
  position: absolute;
  top: 15px;
  left: 45px;
  width: 160px;
  height: auto;
  z-index: 4;
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
}

.logo a{
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 3;
	background: url(../estilo/imagens/logo_resort_semFundo.png) no-repeat;
	width: 151px;
	height: 66px;
	text-indent: -9000px;
}


#area-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../estilo/imagens/topo-imagem-lateral.png) no-repeat top center ;
  background-size: cover;
  width: 570px;
  height: 200px;
  z-index: 2;
}

#conteudo-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 5px;
  left: 150px;
}



#navegacao {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 60px;
  left: 2px;
}

#navegacao a {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px;
  color: var(--OffWhite);
  line-height: 30px;
  text-decoration: none;
}

#navegacao a:hover {
  color: var(--Dourado_fosco);
}


